.app_logo_container{
    position: absolute;
    left: 0px;
    height: 4rem;
    width: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.app_logo{
    height: 4rem;
    width: 4rem;
}

.app_title_container{
    position: absolute;
    left: 0px;
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.app_title{
    color: #61dafb;
    font-family: Roboto, sans-serif;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 1.25rem;
}

.user_detail_container{
    height: 4rem;
    margin-right: 1rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}
.user_detail_text{
    color: #bdbdbd;
    font-family: Roboto, sans-serif;
    font-weight: lighter;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row-reverse;
}
.app_logout{
    height: 0.8rem;
    width: 0.8rem;
    align-self: center;
}
.app_logout:hover{
    cursor: pointer;
}